<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Inicio Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../css/layout.css" />
  <link rel="stylesheet" href="../css/user-list.css" />
</head>
<body class="admin">
 <aside class="sidebar">
    <div class="brand">Vista administrador</div>
    <nav class="nav">
      <a class="active" href="index.html">Inicio</a>
      <a href="user-create.html">Crear Usuario</a>
      <a href="user-list.html">Ver/Modificar Usuarios</a>
 <a href="inventory.html">Ver Inventario</a>
 <a href="invoices-admin.html">Ver Facturas</a>  
    </nav>
    <a id="logout-button" class="logout" href="#">Cerrar sesión</a>
  </aside>

<main class="main">
    <h2>Bienvenido al panel de admin</h2>
    <p>Selecciona una opción del menú de la izquierda para comenzar.</p>
  </main>
  <script src="../javascript/admin-layout.js"></script>
</body>
</html>